<svg class="piece" viewBox="0 0 900 900" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://web.resource.org/cc/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://inkscape.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" id="svg36220" sodipodi:version="0.32" inkscape:version="0.42+0.43pre2" version="1.0" inkscape:export-filename="/home/maurizio/out/wp.png" inkscape:export-xdpi="90" inkscape:export-ydpi="90" sodipodi:docbase="/home/monge/chess_pieces/chess_set" sodipodi:docname="bp.svg">
  <defs id="defs36222">
    <linearGradient id="linearGradient3070">
      <stop style="stop-color:#000000;stop-opacity:1;" offset="0" id="stop3072"/>
      <stop style="stop-color:#505090;stop-opacity:1;" offset="1" id="stop3074"/>
    </linearGradient>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient3070" id="linearGradient3076" x1="586.52576" y1="328.04306" x2="1126.0223" y2="534.203" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient3070" id="linearGradient3084" x1="275.24356" y1="458.6561" x2="862.65161" y2="560.7475" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient3070" id="linearGradient3092" x1="300.27295" y1="623.78223" x2="774.0462" y2="764.89874" gradientUnits="userSpaceOnUse"/>
  </defs>
  <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer">
    <path sodipodi:type="arc" style="opacity:1;fill:url(#linearGradient3076);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:21.76182047;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path35272" sodipodi:cx="760" sodipodi:cy="373.33334" sodipodi:rx="166.66667" sodipodi:ry="150" d="M 926.66667 373.33334 A 166.66667 150 0 1 1  593.33333,373.33334 A 166.66667 150 0 1 1  926.66667 373.33334 z" transform="matrix(0.734473,0,0,0.735993,-120.6603,30.4359)"/>
    <path style="fill:url(#linearGradient3092);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 397.41688,467.01055 C 398.88578,637.18479 310.68396,688.10835 269.45029,717.2563 C 235.25836,741.42646 243.98737,799.59813 289.3562,802.56736 C 317.46905,804.40725 565.96898,804.92832 595.00707,801.72365 C 646.38782,796.05322 647.85297,735.02456 614.69456,714.41259 C 562.08605,681.71003 478.50382,644.87497 476.19681,467.32315 C 475.75569,434.01104 397.15543,437.31408 397.41688,467.01055 z " id="path35274" sodipodi:nodetypes="cssssss"/>
    <path style="fill:url(#linearGradient3084);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 340.35321,432.73487 C 266.15843,451.80054 240.24356,498.75395 240.24356,498.75395 L 649.08978,498.75395 C 649.08978,498.75395 605.65762,446.91851 539.06508,432.06962 C 453.8249,413.06266 409.89186,414.86568 340.35321,432.73487 z " id="path34396" sodipodi:nodetypes="cccss"/>
    <path style="fill:none;fill-opacity:0.75;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 339.12098,713.67467 L 527.02381,713.67467" id="path36149" sodipodi:nodetypes="cc"/>
  </g>
</svg>