<div *ngIf="color">
    <div class="piece" (click)="choosePiece(5)">
        <app-white-queen></app-white-queen>
    </div>
    <div class="piece" (click)="choosePiece(4)">
        <app-white-rook></app-white-rook>
    </div>
    <div class="piece" (click)="choosePiece(3)">
        <app-white-bishop></app-white-bishop>
    </div>
    <div class="piece" (click)="choosePiece(2)">
        <app-white-knight></app-white-knight>
    </div>
</div>
<div *ngIf="!color">
    <div class="piece" (click)="choosePiece(-5)">
        <app-black-queen></app-black-queen>
    </div>
    <div class="piece" (click)="choosePiece(-4)">
        <app-black-rook></app-black-rook>
    </div>
    <div class="piece" (click)="choosePiece(-3)">
        <app-black-bishop></app-black-bishop>
    </div>
    <div class="piece" (click)="choosePiece(-2)">
        <app-black-knight></app-black-knight>
    </div>
</div>