<svg class="piece" viewBox="0 0 900 900" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://web.resource.org/cc/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sodipodi="http://inkscape.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" id="svg36220" sodipodi:version="0.32" inkscape:version="0.43" version="1.0" inkscape:export-filename="/home/maurizio/out/bq.png" inkscape:export-xdpi="90" inkscape:export-ydpi="90" sodipodi:docbase="/home/maurizio/out1" sodipodi:docname="bq.svg">
  <defs id="defs36222">
    <linearGradient id="linearGradient2508">
      <stop style="stop-color:#000000;stop-opacity:1" offset="0" id="stop2510"/>
      <stop style="stop-color:#505090;stop-opacity:1" offset="1" id="stop2512"/>
    </linearGradient>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2538" x1="785.14124" y1="294.75864" x2="840.91125" y2="363.08893" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2546" x1="649.86255" y1="171.18027" x2="711.11725" y2="227.74881" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2554" x1="406.01202" y1="103.53159" x2="470.8349" y2="132.99438" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2562" x1="167.87183" y1="174.99733" x2="234.62003" y2="174.99733" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2570" x1="23.458433" y1="337.85495" x2="87.371216" y2="315.46323" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2578" x1="339.47086" y1="530.60559" x2="514.54016" y2="571.59277" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2586" x1="339.47086" y1="530.60559" x2="495.02243" y2="584.75751" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2594" x1="339.47086" y1="530.60559" x2="487.21536" y2="584.75751" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2602" x1="339.47086" y1="530.60559" x2="498.92599" y2="584.75751" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient2610" x1="339.47086" y1="530.60559" x2="510.6366" y2="584.75751" gradientUnits="userSpaceOnUse"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient5283" gradientUnits="userSpaceOnUse" x1="153.6037" y1="380.53995" x2="761.36395" y2="682.2066"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient5286" gradientUnits="userSpaceOnUse" x1="153.6037" y1="380.53995" x2="761.36395" y2="682.2066"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient5289" gradientUnits="userSpaceOnUse" x1="153.6037" y1="380.53995" x2="761.36395" y2="682.2066"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient5292" gradientUnits="userSpaceOnUse" x1="153.6037" y1="380.53995" x2="761.36395" y2="682.2066"/>
    <linearGradient inkscape:collect="always" xlink:href="#linearGradient2508" id="linearGradient5295" gradientUnits="userSpaceOnUse" x1="153.6037" y1="380.53995" x2="761.36395" y2="682.2066"/>
  </defs>
  <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer">
    <path style="fill:url(#linearGradient5295);fill-opacity:1;fill-rule:evenodd;stroke:none;stroke-width:16;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 243.93513,824.89024 L 193.55693,658.67811 L 627.32493,659.99608 L 577.80633,829.67702 L 243.93513,824.89024 z " id="path25586" sodipodi:nodetypes="ccccc"/>
    <path style="fill:url(#linearGradient5292);fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 612.71323,716.27973 C 490.51354,672.61099 329.30672,672.35739 210.31943,716.17567 C 222.90363,746.70532 226.23753,809.17377 226.23753,809.17377 C 326.95677,781.0005 498.19209,781.85702 598.12263,813.36171 C 598.12263,813.36171 600.43243,746.65519 612.71323,716.27973 z " id="path9792" sodipodi:nodetypes="ccccc"/>
    <path style="fill:url(#linearGradient5289);fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 195.10383,697.9154 C 316.95436,645.2285 507.68493,644.39592 630.68113,698.3256 C 642.80733,593.28931 681.02853,463.62895 753.36393,370.62614 C 698.51613,392.08833 618.88473,529.48915 572.58863,555.38393 C 536.28453,479.12072 608.13303,281.17996 636.06743,239.25506 C 589.16843,267.47386 489.91953,442.27105 460.59793,524.04002 C 418.33203,429.59549 428.22523,252.95831 427.21413,178.93171 C 395.41823,248.48509 353.69613,408.30478 349.42553,521.24619 C 268.23313,460.38218 239.57983,295.97511 217.92473,230.84046 C 206.00133,324.63817 226.80893,488.01266 240.54813,554.0669 C 187.75583,518.47425 126.10853,440.14746 74.937033,373.76193 C 139.99633,529.33555 163.54513,576.45484 195.10383,697.9154 z " id="path28221" sodipodi:nodetypes="cccccccccccc"/>
    <path style="fill:url(#linearGradient5286);fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 407.76343,699.78166 C 388.76533,699.68393 399.17803,714.41733 395.44453,720.89683 C 386.90703,725.84571 359.19913,717.06509 368.11823,735.23678 C 374.43703,748.1108 383.88433,742.0504 394.49533,746.19839 C 399.77053,753.46495 390.85233,775.56417 409.53183,775.10053 C 424.95933,774.71763 416.55013,752.6696 419.84763,746.72904 C 429.17383,740.63497 441.40983,748.89379 447.58203,733.27703 C 452.26783,721.42105 429.06953,725.81861 419.90893,720.71295 C 416.07173,714.98167 427.52963,699.88519 407.76343,699.78166 z " id="path7672" sodipodi:nodetypes="ccscscscs"/>
    <path style="fill:url(#linearGradient5283);fill-opacity:1;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 244.57333,825.27293 C 333.39553,835.87175 477.29493,839.6335 577.53123,829.67981 C 520.96269,804.39859 317.64103,804.61237 244.57333,825.27293 z " id="path8563" sodipodi:nodetypes="ccc"/>
    <path style="fill:url(#linearGradient2554);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 474.62003,82.51849 C 466.06003,82.70612 439.67653,87.13782 423.82163,95.04606 C 419.01183,107.15609 421.51033,142.65199 423.95343,171.68515 C 439.13783,147.31518 472.68953,105.43193 474.62003,82.51849 z " id="path1323" sodipodi:nodetypes="cccc"/>
    <path sodipodi:type="arc" style="opacity:1;fill:url(#linearGradient2586);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:18.73698658;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path29102" sodipodi:cx="394.8013" sodipodi:cy="530.60559" sodipodi:rx="45.961941" sodipodi:ry="44.783428" d="M 440.76324 530.60559 A 45.961941 44.783428 0 1 1  348.83936,530.60559 A 45.961941 44.783428 0 1 1  440.76324 530.60559 z" transform="matrix(0.853926,0,0,0.853926,87.23533,-271.5063)"/>
    <path sodipodi:nodetypes="cccc" id="path2211" d="M 714.90233,206.00453 C 710.18473,200.3516 713.19213,190.00462 674.89863,168.95045 L 626.04273,229.97863 C 653.45383,221.42894 696.80723,208.51868 714.90233,206.00453 z " style="fill:url(#linearGradient2546);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
    <path transform="matrix(0.853926,0,0,0.853926,295.2353,-211.5063)" d="M 440.76324 530.60559 A 45.961941 44.783428 0 1 1  348.83936,530.60559 A 45.961941 44.783428 0 1 1  440.76324 530.60559 z" sodipodi:ry="44.783428" sodipodi:rx="45.961941" sodipodi:cy="530.60559" sodipodi:cx="394.8013" id="path2203" style="opacity:1;fill:url(#linearGradient2594);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:18.73698658;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" sodipodi:type="arc"/>
    <path style="fill:url(#linearGradient2538);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 845.56013,351.89137 C 848.23443,338.06413 833.38963,333.62304 819.14903,314.56717 C 799.31253,322.68925 776.33193,332.3768 760.14293,355.08892 C 801.01003,346.66087 819.58713,359.147 845.56013,351.89137 z " id="path2213" sodipodi:nodetypes="cccc"/>
    <path sodipodi:type="arc" style="opacity:1;fill:url(#linearGradient2602);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:18.73698658;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path2205" sodipodi:cx="394.8013" sodipodi:cy="530.60559" sodipodi:rx="45.961941" sodipodi:ry="44.783428" d="M 440.76324 530.60559 A 45.961941 44.783428 0 1 1  348.83936,530.60559 A 45.961941 44.783428 0 1 1  440.76324 530.60559 z" transform="matrix(0.853926,0,0,0.853926,417.8503,-85.7489)"/>
    <path sodipodi:nodetypes="cccc" id="path2215" d="M 226.62003,154.51849 C 216.06003,142.70612 203.72673,144.40128 175.87183,140.30952 C 176.84443,174.03614 196.97633,183.44519 208.95343,209.68515 C 224.13783,185.31518 221.68953,184.43193 226.62003,154.51849 z " style="fill:url(#linearGradient2562);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"/>
    <path transform="matrix(0.853926,0,0,0.853926,-123.7649,-219.5063)" d="M 440.76324 530.60559 A 45.961941 44.783428 0 1 1  348.83936,530.60559 A 45.961941 44.783428 0 1 1  440.76324 530.60559 z" sodipodi:ry="44.783428" sodipodi:rx="45.961941" sodipodi:cy="530.60559" sodipodi:cx="394.8013" id="path2207" style="opacity:1;fill:url(#linearGradient2578);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:18.73698658;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" sodipodi:type="arc"/>
    <path style="fill:url(#linearGradient2570);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:16;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1" d="M 50.262833,289.78227 C 36.815833,292.5822 35.678033,320.09377 31.458433,334.20775 C 46.515133,350.8029 61.825033,360.25744 74.978933,385.92765 C 89.043333,360.89453 66.219333,308.99231 50.262833,289.78227 z " id="path2217" sodipodi:nodetypes="cccc"/>
    <path sodipodi:type="arc" style="opacity:1;fill:url(#linearGradient2610);fill-opacity:1.0;fill-rule:evenodd;stroke:#808080;stroke-width:18.73698658;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" id="path2209" sodipodi:cx="394.8013" sodipodi:cy="530.60559" sodipodi:rx="45.961941" sodipodi:ry="44.783428" d="M 440.76324 530.60559 A 45.961941 44.783428 0 1 1  348.83936,530.60559 A 45.961941 44.783428 0 1 1  440.76324 530.60559 z" transform="matrix(0.853926,0,0,0.853926,-249.1081,-68.9205)"/>
  </g>
</svg>