<div *ngIf="position" class="board">
    <div *ngFor="let square of position.diag; let i = index" class="square {{ getSquareClass(i) }}">
        <div class="content" 
            (mousedown)="mousedown(i, $event)" 
            (mouseup)="mouseup(i, $event)" 
            (touchstart)="mousedown(i, $event)" 
            (touchend)="touchend($event)">
            <app-white-queen *ngIf="position.diag[i] === 5"></app-white-queen>
            <app-black-queen *ngIf="position.diag[i] === -5"></app-black-queen>
            <app-black-pawn *ngIf="position.diag[i] === -1"></app-black-pawn>
            <app-white-pawn *ngIf="position.diag[i] === 1"></app-white-pawn>
            <app-white-king *ngIf="position.diag[i] === 6"></app-white-king>
            <app-black-king *ngIf="position.diag[i] === -6"></app-black-king>
            <app-white-bishop *ngIf="position.diag[i] === 3"></app-white-bishop>
            <app-black-bishop *ngIf="position.diag[i] === -3"></app-black-bishop>
            <app-white-knight *ngIf="position.diag[i] === 2"></app-white-knight>
            <app-black-knight *ngIf="position.diag[i] === -2"></app-black-knight>
            <app-white-rook *ngIf="position.diag[i] === 4"></app-white-rook>
            <app-black-rook *ngIf="position.diag[i] === -4"></app-black-rook>
        </div>
    </div>
    <div class="piece hidden" #hidden>
        <app-white-queen *ngIf="currentPiece === 5"></app-white-queen>
        <app-black-queen *ngIf="currentPiece === -5"></app-black-queen>
        <app-black-pawn *ngIf="currentPiece === -1"></app-black-pawn>
        <app-white-pawn *ngIf="currentPiece === 1"></app-white-pawn>
        <app-white-king *ngIf="currentPiece === 6"></app-white-king>
        <app-black-king *ngIf="currentPiece === -6"></app-black-king>
        <app-white-bishop *ngIf="currentPiece === 3"></app-white-bishop>
        <app-black-bishop *ngIf="currentPiece === -3"></app-black-bishop>
        <app-white-knight *ngIf="currentPiece === 2"></app-white-knight>
        <app-black-knight *ngIf="currentPiece === -2"></app-black-knight>
        <app-white-rook *ngIf="currentPiece === 4"></app-white-rook>
        <app-black-rook *ngIf="currentPiece === -4"></app-black-rook>
    </div>
</div>