.board {
    width: 720px;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
    user-select: none;
}

.piece {
    width: 90px;
    position: absolute;
    top: 0;
    left: 0;
}

@media (max-width: 720px) {
    .board {
        width: 100%;
    }
    .piece {
        width: 12.5%;
    }
}

.square {
   width: 12.5%;
   border: 0;
   float: left;
   position: relative;
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 1rem;
}

.black {
    background-color: cornflowerblue;
}

.hidden {
    display: none;
    position: absolute;
    pointer-events: none;
}
